/** @format */

:root {
	--bg-body: #f0efeb;
	--bg-navbar: #fff1e6;
	--bg-footer: #eddcd2;
	--color-header: #403d39;
	--color-slogan: #403d39b4;
	--color-link: #8b8b7e;
	--color-link-active: #66665a;
	--color-tab-shadow: #a5a58d;
	--color-tab-shadow-none: #a5a58d00;
	--color-card: #ddbea9;
	--font-header: "Secular One", sans-serif;
	--font-slogan: "Vujahday Script", cursive;
	--font-link: "Yanone Kaffeesatz", sans-serif;
	--font-link-weight: 500;
	--font-paragraph: "Yanone Kaffeesatz", sans-serif;
	--font-paragraph-weight: 300;
	--font-footer: "Yanone Kaffeesatz", sans-serif;
	--font-footer-weight: 300;
}

/* General */

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	vertical-align: baseline;
}

body {
	background-color: var(--bg-body);
	overflow-x: hidden;
}

h1,
h2 {
	font-family: var(--font-header);
}

a {
	text-decoration: none;
	font-family: var(--font-link);
	font-weight: var(--font-link-weight);
}

#content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
	/* align-items: center; */
	/* transition: transform 250ms ease-out; */
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.disable-select {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Header */

header {
	padding: 10px;
}

header h1 {
	font-size: 6em;
	text-align: center;
	text-transform: uppercase;
	text-rendering: optimizeLegibility;
	transition: font-size 150ms ease-out, line-height 150ms ease-out;
}

header p {
	margin-top: -0.4em;
	font-size: 2.6em;
	font-family: var(--font-slogan);
	color: var(--color-slogan);
	transition: font-size 150ms ease-out;
}

/* Retroshadow by juanbrujo at codepen.io */
.retroshadow {
	color: var(--color-header);

	letter-spacing: 0.05em;
	text-shadow: 4px 4px 0px #d5d5d5, 7px 7px 0px rgba(0, 0, 0, 0.2);
}

/* Navigation */

nav {
	background-color: var(--bg-navbar);
	display: flex;
	justify-content: space-evenly;
	padding: 10px 0;
	box-shadow: 1px 1px 5px var(--color-header) inset;
}

.tab {
	display: inline-block;
	position: relative;
	/* left: 50%;
	transform: translateX(-50%); */
	color: var(--color-link);
	font-size: 2em;
	letter-spacing: 2px;
	transition: color 200ms ease-out;
}

.tab:hover {
	color: var(--color-link-active);
}

.tab::before {
	content: "";
	position: absolute;
	background-color: var(--color-link);
	width: 2px;
	height: 100%;
	bottom: 10px;
	transform: translateY(10px);
	margin-left: -6px;
	box-shadow: 2px 0px 4px var(--color-tab-shadow);
	transition: height 200ms ease-out, box-shadow 250ms ease-out;
}

.tab:hover::before {
	height: 0%;
	box-shadow: 2px 0px 4px var(--color-tab-shadow-none);
}

.tab::after {
	content: "";
	display: block;
	position: absolute;
	background-color: var(--color-link);
	width: 0;
	height: 2px;
	left: -6px;
	box-shadow: 0px 2px 4px var(--color-tab-shadow-none);
	transition: margin-top 200ms ease-out, width 200ms 150ms ease-in, background-color 150ms 50ms ease-in,
		box-shadow 250ms 50ms ease-out;
}

.tab:hover::after,
.active-tab::after {
	background-color: var(--color-link-active);
	width: 120%;
}

.active-tab {
	color: var(--color-link-active);
}

.active-tab::before {
	height: 0%;
}

.active-tab::after {
	margin-top: 8px;
	box-shadow: 0px 2px 4px var(--color-tab-shadow), 0px 4px 7px var(--color-tab-shadow);
}

/* Main content */
main {
	background-color: var(--bg-body);
	padding: 20px 20px;
	font-family: var(--font-paragraph);
	font-weight: var(--font-paragraph-weight);
	font-size: 2em;
}

.slide-out--left {
	animation-name: so-l;
}

.slide-out--right {
	animation-name: so-r;
}

.slide-in--left {
	animation-name: si-l;
}

.slide-in--right {
	animation-name: si-r;
}

.slide-out--left,
.slide-out--right,
.slide-in--left,
.slide-in--right {
	animation-duration: 250ms;
	animation-timing-function: ease-out;
}

.slide-out--left,
.slide-out--right {
	animation-fill-mode: forwards;
}

.slide-in--left,
.slide-in--right {
	animation-fill-mode: backwards;
}

@keyframes so-l {
	from {
		transform: translateX(0);
		filter: blur(0);
		opacity: 100%;
	}

	to {
		transform: translateX(-200px);
		filter: blur(5px);
		opacity: 0%;
	}
}

@keyframes so-r {
	from {
		transform: translateX(0);
		filter: blur(0);
		opacity: 100%;
	}

	to {
		transform: translateX(200px);
		filter: blur(5px);
		opacity: 0%;
	}
}

@keyframes si-l {
	from {
		transform: translateX(-200px);
		filter: blur(5px);
		opacity: 0%;
	}

	to {
		transform: translateX(0);
		filter: blur(0);
		opacity: 100%;
	}
}

@keyframes si-r {
	from {
		transform: translateX(200px);
		filter: blur(5px);
		opacity: 0%;
	}

	to {
		transform: translateX(0);
		filter: blur(0);
		opacity: 100%;
	}
}

/* Main: Home */

/* Main: Menu */
.menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
}

.card {
	flex: 1 0 25%;
	width: 150px;
	height: 400px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	position: relative;
	padding: 10px;
	background-color: var(--color-card);
	box-shadow: 1px 1px 5px var(--color-tab-shadow), 1px 1px 5px var(--color-tab-shadow-none) inset;
	transition: box-shadow 250ms ease-out, background-image 250ms ease-out;
}

.card:hover,
.mobile .card {
	box-shadow: 1px 1px 5px var(--color-tab-shadow-none), 1px 1px 5px var(--color-tab-shadow) inset;
}

.card::before {
	content: "";
	background-image: url(https://static.wixstatic.com/media/2cd43b_5eda7ec29fd24b1dbcfe77050b4b3eb7~mv2.png/v1/fit/w_1000,h_552,q_90/2cd43b_5eda7ec29fd24b1dbcfe77050b4b3eb7~mv2.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 100%;
	height: 100%;
	position: absolute;
	transition: transform 300ms ease-in-out;
}

.card:hover::before,
.mobile .card::before {
	transform: scale(0.6) translateY(-50%);
}

.description {
	color: var(--bg-body);
	background-color: var(--color-header);
	border-radius: 5px;
	padding: 5px 12px;
	transform: translateY(120%);
	transition: transform 250ms ease-out;
}

.description h2 {
	font-size: 0.7em;
	text-align: center;
	text-decoration: underline;
	margin-bottom: 2px;
}

.description p {
	font-size: 0.6em;
}

.description span {
	color: var(--bg-footer);
	font-size: 0.5em;
	font-style: italic;
}

.card:hover .description,
.mobile .card .description {
	transform: translateY(0px);
}

/* Main: Contact */

/* footer */
footer {
	background-color: var(--bg-footer);
	padding: 10px 10px;
	text-align: center;
	box-shadow: 1px 1px 5px var(--color-header) inset;
}

footer p {
	font-family: var(--font-footer);
	font-weight: var(--font-footer-weight);
	font-size: 1.2em;
}

/* Responsive */
@media screen and (max-width: 992px) {
	header h1 {
		font-size: 4.5em;
	}

	header p {
		font-size: 2.2em;
	}
}

@media screen and (max-width: 768px) {
	header h1 {
		font-size: 3.5em;
	}

	header p {
		font-size: 2em;
	}

	.card {
		flex: 1 0 42%;
	}
}

@media screen and (max-width: 576px) {
	header h1 {
		font-size: 3em;
		line-height: 1.2em;
	}

	header p {
		font-size: 1.6em;
	}

	.card {
		flex: 1 0 100%;
	}
}
