/** @format */

:root {
	--bg-body: #f0efeb;
	--bg-navbar: #fff1e6;
	--bg-footer: #eddcd2;
	--color-header: #403d39;
	--color-slogan: #403d3983;
	--color-link: #b7b7a4;
	--color-link-active: #79796a;
	--color-tab-shadow: #a5a58d;
	--color-tab-shadow-none: #a5a58d00;
	--color-unset: #ddbea9;
	--font-header: "Secular One", sans-serif;
	--font-slogan: "Vujahday Script", cursive;
	--font-link: "Yanone Kaffeesatz", sans-serif;
	--font-link-weight: 500;
	--font-paragraph: "Yanone Kaffeesatz", sans-serif;
	--font-paragraph-weight: 300;
	--font-footer: "Yanone Kaffeesatz", sans-serif;
	--font-footer-weight: 300;
}

/* General */

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	vertical-align: baseline;
}

body {
	background-color: var(--bg-body);
}

h1,
h2 {
	font-family: var(--font-header);
}

a {
	text-decoration: none;
	font-family: var(--font-link);
	font-weight: var(--font-link-weight);
}

#content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
	/* align-items: center; */
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.disable-select {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Header */

header {
	/* background-image: linear-gradient(to right, #085467, #afa7bb, #f4c0b3); */
	/* background-clip: text; */
	/* background-repeat: no-repeat; */
	/* background-size: cover; */
	padding: 10px;
}

header h1 {
	/* font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif; */
	font-size: 6em;
	/* margin-bottom: 5px; */
	/* text-align: center; */
	text-transform: uppercase;
	text-rendering: optimizeLegibility;
}

header p {
	margin-top: -0.4em;
	font-size: 2.6em;
	font-family: var(--font-slogan);
	color: var(--color-slogan);
}

/* Retroshadow by juanbrujo at codepen.io */
.retroshadow {
	color: var(--color-header);

	letter-spacing: 0.05em;
	text-shadow: 4px 4px 0px #d5d5d5, 7px 7px 0px rgba(0, 0, 0, 0.2);
}

/* Navigation */

nav {
	background-color: var(--bg-navbar);
	display: flex;
	justify-content: space-evenly;
	padding: 10px 0;
	box-shadow: 1px 1px 5px var(--color-header) inset;
}

.tab {
	display: inline-block;
	position: relative;
	/* left: 50%;
	transform: translateX(-50%); */
	color: var(--color-link);
	font-size: 2em;
	letter-spacing: 2px;
	transition: color 200ms ease-out;
}

.tab:hover {
	color: var(--color-link-active);
}

.tab::before {
	content: "";
	position: absolute;
	background-color: var(--color-link);
	width: 2px;
	height: 100%;
	bottom: 10px;
	transform: translateY(10px);
	margin-left: -6px;
	box-shadow: 2px 0px 4px var(--color-tab-shadow);
	transition: height 200ms ease-out, box-shadow 250ms ease-out;
}

.tab:hover::before {
	height: 0%;
	box-shadow: 2px 0px 4px var(--color-tab-shadow-none);
}

.tab::after {
	content: "";
	display: block;
	position: absolute;
	background-color: var(--color-link);
	width: 0;
	height: 2px;
	left: -6px;
	box-shadow: 0px 2px 4px var(--color-tab-shadow-none);
	transition: margin-top 200ms ease-out, width 200ms 150ms ease-in, background-color 150ms 50ms ease-in,
		box-shadow 250ms 50ms ease-out;
}

.tab:hover::after,
.active-tab::after {
	background-color: var(--color-link-active);
	width: 120%;
}

.active-tab {
	color: var(--color-link-active);
}

.active-tab::before {
	height: 0%;
}

.active-tab::after {
	margin-top: 8px;
	box-shadow: 0px 2px 4px var(--color-tab-shadow), 0px 4px 7px var(--color-tab-shadow);
}

/* Main content */
main {
	background-color: var(--bg-body);
	padding: 10px 20px;
	font-family: var(--font-paragraph);
	font-weight: var(--font-paragraph-weight);
	font-size: 2em;
}

/* Main: Home */

/* Main: Menu */

/* Main: Contact */

/* footer */
footer {
	background-color: var(--bg-footer);
	font-family: var(--font-footer);
	font-weight: var(--font-footer-weight);
	font-size: 1.5em;
}
