/** @format */

:root {
	--bg-body: #eee;
	--bg-navbar: bisque;
	--bg-footer: aqua;
	--color-header: #333;
	--color-link: #777;
	--color-link-active: #444;
}

/* General */

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	vertical-align: baseline;
}

body {
	background-color: var(--bg-body);
}

a {
	text-decoration: none;
}

#content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
	/* align-items: center; */
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Header */

header {
	background-repeat: no-repeat;
	background-size: cover;
	padding: 30px;
}

header h1 {
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
	font-size: 6em;
	padding: 10px 10px;
	/* text-align: center; */
	text-transform: uppercase;
	text-rendering: optimizeLegibility;
}

/* Retroshadow by juanbrujo at codepen.io */
.retroshadow {
	color: var(--color-header);

	letter-spacing: 0.05em;
	text-shadow: 4px 4px 0px #d5d5d5, 7px 7px 0px rgba(0, 0, 0, 0.2);
}

/* Navigation */

nav {
	background-color: var(--bg-navbar);
	display: flex;
	justify-content: space-evenly;
	padding: 10px 0;
}

.tab {
	display: inline-block;
	position: relative;
	/* left: 50%;
	transform: translateX(-50%); */
	color: var(--color-link);
	font-size: 26px;
	transition: color 200ms ease-out;
}

.tab:hover {
	color: var(--color-link-active);
}

.tab::before {
	content: "";
	position: absolute;
	background-color: var(--color-link);
	width: 2px;
	height: 100%;
	bottom: 10px;
	transform: translateY(10px);
	margin-left: -6px;
	transition: height 200ms ease-out;
}

.tab:hover::before {
	height: 0%;
}

.tab::after {
	content: "";
	display: block;
	position: absolute;
	background-color: var(--color-link);
	width: 0;
	height: 2px;
	left: -6px;
	transition: margin-top 200ms ease-out, width 200ms 150ms ease-in, background-color 150ms 50ms ease-in;
}

.tab:hover::after,
.active-tab::after {
	background-color: var(--color-link-active);
	width: 120%;
}

.active-tab::before {
	height: 0%;
}

.active-tab::after {
	margin-top: 7px;
}

/* Main content */

/* footer */
footer {
	background-color: var(--bg-footer);
}
